<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OJE.ooo</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <h1><a href="/start">OJE.ooo</a></h1>
    </nav>
