<%- include('partials/header'); -%>

<header>
  <div class="article">
    <img src="/images/TO-LOGO.svg" alt="">
  </div>
  <div class="headings">
    <h2>Beiträge</h2>
    <h3>von mir</h3>
    <a href="/api/posts" class="btn">Anzeigen</a>
  </div>
</header>

<%- include('partials/footer'); -%>