<%- include('partials/header'); -%>

<ul class="posts">
  <li class="post">
    <img src="/images/TO-LOGO.svg" alt="LOGO">
    <h4>YO</h4>
    <p>YOYO</p>
  </li>
</ul>

<%- include('partials/footer'); -%>