<%- include('partials/header'); -%>

<ul class="posts">
  <li class="post">
    <img class="App-logo" src="/images/TO-LOGO.svg" alt="LOGO">
    <h4>NodeJS API</h4>
    <p>Eine NodeJS Registrierung/Anmeldung API mit bcrypt Passwort hashing sowie mongoose für die MongoDB Anbindung</p>
  </li>
</ul>

<%- include('partials/footer'); -%>