/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@300;400;500;600&display=swap');

body{
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: linear-gradient(239deg, #b27bd3, #fee996, #444444);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  -o-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}
h1, h2, h3, h4, ul, li, a, p, input, label, button, div, footer{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #FEE996;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.btn{
  border-radius: 25px;
  background: #b27bd3;
  color: #afe86a;
}
.btn:hover{
  border-radius: 25px;
  background:  #FEE996;
  color: #b27bd3;
}

.brand{
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 75px;
  color: #b27bd3;
}

form h2{
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
  color: #FEE996;
}
form{
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.1);
  border-radius: 10px;
  background: #b27bd3;
}
input{
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
  color: #b27bd3;
}
label{
  display: block;
  margin: 20px 0 10px;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-variant: small-caps;
  color: #FEE996;
}
button{
  margin-top: 30px;
  border-radius: 25px;
  background: #b27bd3;
  color: #afe86a;
  border: 1px solid #afe86a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

button:hover{
  border-radius: 25px;
  background:  #FEE996;
  color: #b27bd3;
}
.error{
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
header{
  display: flex;
  align-items: center;
}
header img{
  width: 250px;
  margin-right: 40px;
}
header h2{
  font-size: 3em;
  margin-bottom: 10px;
}
header h3{
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #afe86a;
}
header .btn{
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}
.posts{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80px auto;
  max-width: 1200px;
}
.post{
  display: inline-block;
  border-radius: 20px;
  background:#b27bd3;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px
}
.post img{
  width: 100px;
  margin: -30px auto 20px;
}
footer{
  text-align: center;
  margin-top: 120px;
  color:#b27bd3;
  font-family: 'Amatic SC', cursive;
}

footer a{
  text-decoration: none;
  text-align: center;
  margin-top: 120px;
  color:#b27bd3;
  font-family: 'Amatic SC', cursive;
}

footer a:hover{
  text-decoration: none;
  text-align: center;
  margin-top: 120px;
  color:#afe86a;
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}


@-webkit-keyframes AnimationName {
  0%{background-position:0% 58%}
  50%{background-position:100% 43%}
  100%{background-position:0% 58%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 58%}
  50%{background-position:100% 43%}
  100%{background-position:0% 58%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 58%}
  50%{background-position:100% 43%}
  100%{background-position:0% 58%}
}
@keyframes AnimationName {
  0%{background-position:0% 58%}
  50%{background-position:100% 43%}
  100%{background-position:0% 58%}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}